[Unit]
Description=Openfire XMPP server
After=syslog.target network.target

[Service]
Type=simple
Environment="NAME="
EnvironmentFile=-/etc/sysconfig/openfire
ExecStart=/usr/sbin/openfire-start
User=openfire
Group=openfire

[Install]
WantedBy=multi-user.target
